.OneAnimal {
    border-radius: 5px;
    flex: 0 1 20%;
    height: 100px;
    margin: 1%;
    outline: 1px solid gray;
}

a.OneAnimal.day {
    color: rgb(153, 97, 8);
}

a.OneAnimal.night {
    color: darkslategray;
}

.OneAnimal-name {
    display: table;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none; 
}