.OneAnimal {
    border-radius: 5px;
    flex: 0 31%;
    height: 100px;
    margin: 1%;
    outline: 1px solid gray;
}

.OneAnimal a {
    color: rgb(40, 123, 123);
    display: table;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;;
    text-decoration: none;
}

.OneAnimal.day a {
    color: rgb(153, 97, 8);
}

.OneAnimal.night a {
    color: darkslategray;
}