.Nav {
    color: white;
    height: 50px;
    opacity: .8;
}

.Nav a {
    text-decoration: none;
    color: rgb(60, 53, 53);
}

.Nav-text {
    align-items: center;
    display: inline-flex;
    margin-left: 20px;
    min-height: 50px;
}